doctype html
html(lang="en")
    head
        | <style type="text/css">
        include login.css
        | </style>
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" )
    body
        div(class="content")
            div(class="login")
                h3 Log In
                form(name="login" method="POST" action="/gitter/login")
                    div(class="input-row")
                        label Phone:
                        input(type="tel" name="phone" pattern="\\d{10}" required="" value="" title="10 digit phone number. (Format: 1110001234)")
                    button(type="submit") login
            div(class="register")
                h3 Register
                form(name="register" method="POST" action="/gitter/register")
                    div(class="input-row")
                        label Phone:
                        input(type="tel" name="phone" pattern="\\d{10}" required="" value="" title="10 digit phone number. (Format: 1110001234)")
                        i(class="fa")
                    button(type="submit") register
            div(class="info")
                | Phone number for SMS is #{smsNumber}
