<!doctype html>
<html lang="en">
    <head>

        <link rel="stylesheet" type="text/css" href="/css/roomlist.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
    </head>
    <body>
        <h3>Home</h3>
        {{#activeRoom}}
        <div class="subscribed">
            <div class="subscribed-row">
                <span class="row-label">Active Room: </span>
                <span class="row-content room-name">{{name}}</span>
            </div>
            <div class="subscribed-row">
                <span class="row-label">Actions: </span>
                <span class="row-content">
                    <a class="button unsubscribe" href="/gitter/rooms/{{id}}/unsubscribe">Unsubscribe</a>
                </span>
            </div>
            <div class="subscribed-row">
                <span class="row-label">Keywords: </span>
                <span class="row-content">
                    <div style="display: inline-block;">
                        <form action="/gitter/keywords" method="POST">
                            <input type="text" name="keywords" value="{{keywords}}"/>
                            <button type="submit" class="button">Update</button>
                        </form>
                    </div>
                    <div class="small-note">Keywords are comma ( , ) seperated. Clear to notify on all messages.</div>
                </span>
            </div>
        </div>
        {{/activeRoom}}
        <h3>Available Rooms:</h3>
        {{#rooms}}
        <div class="room-row">
            <span class="row-label">
                <a class="button subscribe" href="/gitter/rooms/{{id}}/subscribe">Subscribe</a>
            </span>
            <span class="row-content">
                <span class="room-name">{{name}}</span>
            </span>
        </div>
        {{/rooms}}
    </body>
</html>

