.content {
    width: 75%;
    margin: auto;
}

.login {
    border-right: 1px solid gray;
}
.register {
    padding-left: 30px
}
.info {
    width: 25%;
    margin: auto;
    padding-top: 25px;
    font-size: 0.8em;
}
input:valid + i.fa:after {
    content: "\f00c";
    color: #383;
}
input:invalid + i.fa:after {
    content: "\f00d";
    color: #833;
}
