.small-note {
    font-size: 0.8em;
}

form.settings {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 20px;
}
.button,.button-primary {
    margin-bottom: 0;
}

input {
    margin-bottom: 0;
}
.pad-bottom {
    padding-bottom: 10px;
}
